@font-face {
  font-family: 'papyrus';
}

.frontpage {
  width: 100vw  ;
  height: 100vh;
  overflow: hidden;
    
}

.header-container {
  position: absolute;
  top: 2%;
  left: 60px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0;
  pointer-events: none;
}

.name {
  color: #000000;
  font-size: 150px;
  margin: 0;
  letter-spacing: 2px;
  line-height: 1;
}

.title {
  color: #000000;
  font-size: 50px;
  letter-spacing: 4px;
  line-height: 1.2;
  margin: 0;
}

.instruction-container {
  position: relative;
  top: 70%;
  left: 50px;
  pointer-events: none;
}

.instruction-text {
  color: #000000;
  font-size: 50px;
  margin: 0;
  letter-spacing: 2px;
}

.three-d-container {
  position: fixed;
  top: 0;
  background-color: #7a6868;
  right: 0;
  width: 100vw;
  height: 100vh;  
  transform: scale(0.70);

}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .frontpage {
    width: 100vw;
  }

  .three-d-container {
    left: 0;
    width: 100vw;
    height: 50vh;
    top: 50vh;
  }

  .header-container {
    top: 5%;
    left: 20px;
  }

  .name {
    font-size: 100px;
  }

  .title {
    font-size: 25px;
  }

  .instruction-container {
    top: 80%;
    left: 20px;
  }

  .instruction-text {
    font-size: 25px;
  }
}



