.skills { 
  color: rgb(0, 0, 0);
  font-family: 'SpicySale', sans-serif;
    font-size: 100px;
    text-align: center;
    top : 1rem;
    position: relative;
}

.skill-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  top: 10rem;
  position: relative;
}
.Skillbar {
  width: 100%;
text-align: center;

}
.skill-logo { 
  max-width: 10rem;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3)) drop-shadow(0 6px 20px rgba(0, 0, 0, 0.2));
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.skill-logo:hover {
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3)) drop-shadow(0 6px 20px rgba(0, 0, 0, 0.2));
  transform: scale(1.05);
  transition: transform 0.3s ease, filter 0.3s ease;
}
